.chat .username {
  color: var(--color-ms-almost-white);
}

.chat:hover {
  background: rgba(55, 121, 247, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-out;
}

.chat:hover .username {
  filter: saturate(400%);
  color: var(--color-ms-secondary);
  transition: all 0.25s ease-out;
}
.chat.active {
  background: rgba(55, 121, 247, 0.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.chat.active .username {
  filter: saturate(400%);
  color: var(--color-ms-secondary);
}

/* .chat,
.chat:hover,
.chat.active {
  border-top-width: 2px;
  border-bottom-width: 2px;
} */
