@import "tailwindcss";

@theme {
  --color-ms-dark: #131313;
  --color-ms-secondary: #3779f7;
  --color-ms-violet: #7f00ff;
  --color-ms-muted: #585858;
  --color-ms-almost-white: #fdfdfd;
  --color-ms-green: #70e1bd;
  --color-ms-yellow: #f8dea5;
  --color-ms-cyan: #6098f8;
}

.home {
  background-color: var(--color-ms-dark);
}

img {
  max-width: 100%;
  height: auto;
}
